Web.config
/WorkAdmin.Logic/obj
/WorkAdmin.Logic/bin/Release
/packages
/.vs
/WorkAdmin.Models/bin/Release
/WorkAdmin.Site/obj
/WorkAdmin.Site/bin
/WorkAdmin.Models/obj/Release
/WorkAdmin.Models/obj/Debug
/WorkReportBuilder/obj
/WorkReportBuilder/bin/Release
/WorkAdmin.Logic/bin/Debug/AutoMapper.dll
*.xml
*.dll
*.config
*.pdb
