@model string
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="text-danger">Error happened!</h3>
        <h4>@Model</h4>
    </div>
</div>

