@using WorkAdmin.Models.ViewModels;
@model WorkAdmin.Models.ViewModels.UserHoliday
@{
    ViewBag.Title = "Holiday Mail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = Model;
}

<div class="panel panel-default" style="margin: 20px; min-height: 500px;" ng-app="holidayMail">
    <div class="panel-heading">
        @ViewBag.Title
    </div>
    <div class="panel-body" ng-controller="excelCheckCtrl">
        <div>@Html.Display(data.CurrentPaidLeaveRemainingHours.ToString())</div>
        <form class="form-horizontal">
            <div style="border-bottom: 1px solid #9f9a9a; padding: 10px;">
                <div class="form-group">
                    <label for="holidayFile" class="control-label col-sm-2">选择文件：</label>
                    <input type="file" id="holidayFile" ng-model="holidayFile" name="holidayFile" class="form-control col-sm-10" />
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">文件类型：</label>
                    <label class="control-label col-sm-1"><input type="radio" name="fileType" ng-model="fileType" value="annual" />年假表</label>
                    <label class="control-label col-sm-1"><input type="radio" name="fileType" ng-model="fileType" value="transfer" />调休表</label>
                </div>
                <div>
                    <label class="col-sm-2"></label>
                    <input type="button" class="btn btn-primary" value="导入" ng-click="importData();" />
                    <span class="text-danger" style="margin-left: 10px;" ng-bind="errorMsg"></span>
                </div>
            </div>
        </form>

        <div ng-if="isDisplay" ng-cloak>
            <div class="btn-margin">
                <button class="btn btn-default" ng-click="CheckedAll();">反选</button>
                <div style="float:right;">
                    <input type="text" class="form-control" id="searchKey" ng-model="searchKeyword" placeholder="输入姓名搜索...">
                </div>
            </div>
            <div ng-if="holidayContainer" class="holidayContainer">
                <table class="table table-bordered table-hover fixed-holiday">
                    <tr>
                        <td rowspan=2 style="padding-top:26px;">Checked</td>
                        <td rowspan="2" style="padding-top:26px;">姓名</td>
                        <td colspan="2">年假区间</td>
                        <td rowspan="2" style="padding-top:26px;">上一区间未休计入本区间(h)</td>
                        <td rowspan="2" style="padding-top:26px;">本区间应休年假(h)</td>
                        <td rowspan="2" style="padding-top:26px;">剩余年假(h)</td>
                    </tr>
                    <tr>
                        <td>起始日期</td>
                        <td>截止日期</td>
                    </tr>
                    <tr ng-repeat="item in staffHolidayTable | filter: searchKeyword">
                        <td ng-click="item.checked = !item.checked;">
                            <input type="checkbox" ng-model="item.checked" ng-click="PreventPop($event);" />
                        </td>
                        <td ng-bind="item.StaffName"></td>
                        <td ng-bind="item.PaidLeaveBeginDate"></td>
                        <td ng-bind="item.PaidLeaveEndDate"></td>
                        <td ng-bind="item.BeforePaidLeaveRemainingHours"></td>
                        <td ng-bind="item.CurrentPaidLeaveRemainingHours"></td>
                        <td ng-bind="item.PaidLeaveRemainingHours"></td>
                    </tr>
                </table>
            </div>
            <div class="transferContainer" ng-if="transferContainer">
                <table class="table table-bordered table-hover fixed-transfer">
                    <thead>
                        <tr>
                            <td>Checked</td>
                            <td>姓名</td>
                            <td>邮箱</td>
                            <td>加班日期</td>
                            <td>加班时间段</td>
                            <td>可用调休时长</td>
                            <td>调休明细</td>
                            <td>剩余调休时间</td>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in staffTransferTable | filter: searchKeyword">
                        <tr ng-repeat="detail in item.UserTransferDetail track by $index">
                            <td ng-if="$index==0" rowspan="{{item.UserTransferDetail.length}}" ng-click="item.checked = !item.checked;">
                                <input type="checkbox" ng-model="item.checked" ng-click="PreventPop($event);" />
                            </td>
                            <td ng-if="$index==0" rowspan="{{item.UserTransferDetail.length}}" ng-bind="item.StaffName"></td>
                            <td ng-if="$index==0" rowspan="{{item.UserTransferDetail.length}}" ng-bind="item.StaffEmail"></td>
                            <td ng-repeat="name in transferDetailProperties">
                                <span ng-bind="detail[name]"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mailFormContainer">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="senderEmail">Email address</label>
                        <input type="email" class="form-control" id="senderEmail" ng-model="$parent.senderEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="senderPassword">Password</label>
                        <input type="password" class="form-control" id="senderPassword" ng-model="$parent.senderPassword" placeholder="Password">
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="SendEmail();">发送邮件</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section styles {
    <link type="text/css" rel="stylesheet" href="~/Content/alertify.default.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/alertify.min.css" />
    <style>
        .fixed-holiday, .fixed-transfer {
            margin-top: 20px;
            text-align: center;
            vertical-align: middle;
        }

        .btn-margin {
            margin: 20px 0 0;
        }

        .table-container {
            max-height: 800px;
            min-height: 500px;
            overflow-y: auto;
        }
    </style>
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/alertify.js"></script>

    <script>
        $("#menuHoliday").addClass("selected");
        $("#maildown").addClass("selected");
        var app = angular.module('holidayMail', []);
        app.controller('excelCheckCtrl', ['$http', '$scope', "$filter", function ($http, $scope, $filter) {
            $scope.isDisplay = false;
            $scope.holidayContainer = false;
            $scope.transferContainer = false;
            $scope.fileType = 'annual';
            $scope.mailType = '';
            $scope.holidayDetail = [];
            $parent = $scope;

            $scope.importData = function () {
                $scope.isDisplay = false;
                var myFile = document.querySelector('input[type=file]').files[0];

                var data = new FormData();
                data.append('excelfile', myFile);
                data.append('fileType', $scope.fileType);
                $http({
                    method: 'post',
                    url: 'HolidayFileHandler',
                    data: data,
                    headers: {
                        'Content-Type': undefined
                    },
                    transformRequest: angular.identity
                }).then(function (response) {
                    var data = response.data;
                    if (typeof data == 'string' &&
                        data != '' && data != null) {
                        $scope.isDisplay = false;
                        $scope.errorMsg = data;
                        $scope.staffHolidayTable = {};
                        return;
                    }
                    $scope.mailType = response.data.type;
                    $scope.allData = response.data.data;

                    if ($scope.mailType == 'annual') {
                        if (response.data.data.length > 0) {
                            $scope.isDisplay = true;
                            $scope.holidayContainer = true;
                            $scope.transferContainer = false;
                            $scope.errorMsg = '';
                            $scope.staffHolidayTable = response.data.data;
                            angular.forEach($scope.staffHolidayTable, function (item) {
                                item.checked = true;
                                var reg = /.*Date\((.*)\).*/;
                                item.PaidLeaveBeginDate = $filter('date')(new Date(Number(item.PaidLeaveBeginDate.match(reg)[1])), 'yyyy-MM-dd');
                                item.PaidLeaveEndDate = $filter('date')(new Date(Number(item.PaidLeaveEndDate.match(reg)[1])), 'yyyy-MM-dd');
                            });
                        } else {
                            $scope.isDisplay = false;
                            $scope.errorMsg = '上传成功：数据暂无内容';
                        }
                    }
                    if ($scope.mailType == 'transfer') {
                        if (response.data.data.length > 0) {
                            $scope.isDisplay = true;
                            $scope.holidayContainer = false;
                            $scope.transferContainer = true;
                            $scope.errorMsg = '';
                            $scope.transferDetailProperties = Object.keys(response.data.data[0].UserTransferDetail[0]);
                            $scope.staffTransferTable = response.data.data;
                            angular.forEach($scope.staffTransferTable, function (item) {
                                item.checked = true;
                            });
                            console.log($scope.staffTransferTable);
                        } else {
                            $scope.isDisplay = false;
                            $scope.errorMsg = '上传成功：数据暂无内容';
                        }
                    }

                }, function (response) {
                    var errorMsg = '错误代码：' + response.status + '<br />' +
                        '错误信息：' + response.statusText;
                    alertify.alert(errorMsg);
                });
            }

            $scope.SendEmail = function () {
                var email = $scope.senderEmail;
                var password = $scope.senderPassword;
                if (email === undefined || password === undefined) {
                    alertify.error('输入错误：邮箱密码格式错误', 5);
                    return;
                }
                if (email == '' || password == '') {
                    alertify.error('输入错误：邮箱密码不能为空', 5);
                    return;
                } else {
                    var filterData = [];
                    switch ($scope.mailType) {
                        case "annual":
                            angular.forEach($scope.staffHolidayTable, function (item) {
                                if (item.checked) {
                                    filterData.push(item);
                                }
                            });
                            if (filterData.length == 0) {
                                alertify.error('选择错误：至少勾选一个选项发送邮件', 5);
                                return;
                            }
                            break;
                        case "transfer":
                            angular.forEach($scope.staffTransferTable, function (item) {
                                if (item.checked) {
                                    filterData.push(item);
                                }
                            });
                            if (filterData.length == 0) {
                                alertify.error('选择错误：至少勾选一个选项发送邮件', 5);
                                return;
                            }
                            break;
                        default:
                            alertify.error('邮件类型错误：请重新上传文件', 5);
                            return;
                    }
                    var data = new FormData();
                    data.append('staffList', JSON.stringify(filterData));
                    data.append('mailType', $scope.mailType);
                    data.append('email', email);
                    data.append('password', password);
                    $http({
                        method: 'post',
                        url: 'MailSendingHandler',
                        data: data,
                        headers: {
                            'Content-Type': undefined
                        }
                    }).then(function (response) {
                        var data = response.data;
                        var show = '';
                        if (data.SuccessCount > 0) {
                            show += '发送成功' + data.SuccessCount + '人： ' + data.SuccessList.join(',') + '<br />';
                        }
                        if (data.FailureCount > 0) {
                            show += '发送失败' + data.FailureCount + '人： ' + data.FailureList.join(',') + '<br />';
                            show += '失败详情： ' + data.FailureMsg.join(',') + '<br />';
                        }
                        if (show == '') {
                            alertify.alert('暂无可发送人员记录');
                        } else {
                            alertify.alert(show);
                        }
                    }, function (response) {
                        var errorMsg = '错误代码：' + response.status + '<br />' +
                            '错误信息：' + response.statusText;
                        alertify.alert(errorMsg);
                    });
                }
            }

            $scope.CheckedAll = function () {
                var data = $scope.mailType == 'annual' ? $scope.staffHolidayTable :
                    $scope.staffTransferTable;
                if (data.length > 0) {
                    angular.forEach(data, function (item) {
                        item.checked = !item.checked;
                    });
                }
            }

            $scope.PreventPop = function (event) {
                event.stopPropagation();
            }
        }]);
    </script>
}


